@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;

  }

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

h1{
    font-size: 4rem;
}

.btn-outline-success:hover, nav a:hover{
    color: #00E676 !important;
  }
/* Navbar section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1120970/pexels-photo-1120970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center top;
	background-size:cover;
}

/* Media qurey section */

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
   
}

.cards-post{
    font-size: 62.5%;
    font-size: 10px;
  min-height:100vh;
  display: flex;
  justify-content:space-around;
  align-items:center;
  margin-bottom: 50px;
  flex-wrap:wrap;
}

.inner-card{
  padding:2em;
}

.more-info-btn{
  display:flex;
  justify-content:flex-end;
}

#title{
  font-size:50px;
  margin-top:25px;
}

#details{
  display:flex;
  justify-content:space-around;
  margin-top:50px;
}

.start-btn{
  display:flex;
  justify-content:center;
  margin-top:290px;
}
.start-btn a{
  background:white;
  color:black;
  padding:.6em;
  width:200px;
  margin-top: 50px;
  border-radius:20px;
  text-align:center;
  box-shadow: .5px 1px 5px;
  text-decoration:none;
}
.start-btn a:hover{
  background-color: teal;
}
.start-btn .fas{
  margin-left:10px;
}
/****************************************************************************************************/
